<meta charset="utf-8">
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">考试管理</a></li>
        <li class="active">题库管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="jax-box">
        <form id="formSearch" class="form-horizontal form-search">
            <div class="form-group">
                <div class="col-md-3 col-sm-6">
                    <label class="control-label  col-xs-4" for="keywords">题目:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="keywords">
                    </div>
                </div>
                 <div class="col-md-3 col-sm-6">
                    <label class="control-label  col-xs-4" for="question">课程:</label>
                    <div class="col-xs-8">
                        <select class="form-control"id="subjectId">
                            <option  value="">请选择</option>
                            <option th:each="subject:${subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <label class="control-label  col-xs-4" for="question">题目类型:</label>
                    <div class="col-xs-8">
                        <select class="form-control"id="questionId">
                            <option  value="">请选择</option>
                            <option value="0">单项选择题</option>
                            <option value="1">多项选择题</option>
                            <option value="2">主观问答题</option>
                            <option value="3">编程题</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <label class="control-label  col-xs-4">状态:</label>
                    <div class="col-xs-8">
                        <select id="status" class="form-control">
                            <option value="">请选择</option>
                            <option value="1">已发布</option>
                            <option value="0">草稿</option>
                        </select>
                    </div>
                </div>
                <shiro:hasPermission name="question:list">
                    <div class="col-md-1 col-sm-6 " style="text-align:left;">
                        <button type="button" id="btn_query" class="btn btn-info">查询</button>
                    </div>
                </shiro:hasPermission>
            </div>
        </form>
    </div>
    <div class="jax-box jax-box-table">
        <div id="toolbar" class="btn-group">
            <shiro:hasPermission name="question:add">
            <button id="btn_add" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>题目录入
            </button>
            </shiro:hasPermission>
            <shiro:hasPermission name="article:batchDelete">
            <button id="btn_batch_delete" type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>批量删除
            </button>
            </shiro:hasPermission>
        </div>
        <table id="table"></table>
    </div>
</section>

<script>
    var editFlag = "[[${@perms.hasPerm('article:edit')}]]";
    var deleteFlag = "[[${@perms.hasPerm('article:delete')}]]";
    var columns = [
        {checkbox: true },
        {
            field: 'title',
            title: '题名',
            align : "center"
        },{
            field: 'subjectId',
            title: '课程分类',
            align : "center",
            /* formatter: function (value) {
                return value.name;
            } */
        }, {
            field: 'questionType',
            title: '题目类型',
            align : "center",
            formatter: function (questionType) {
                var questionTypeName = '';
                if(questionType == 0){
                	questionTypeName = '单项选择题';
                }else if(questionType == 1){
                   	questionTypeName = '多项选择题';
                }else if(questionType == 2){
                   	questionTypeName = '主观问答题';
                }else if(questionType == 3){
                   	questionTypeName = '编程题';
                }  
                return questionTypeName;
            }
        },{
            field: 'score',
            title: '分值',
            align : "center",
        },{
            field: 'difficulty',
            title: '难度',
            align : "center",
            formatter : function(difficulty) {
                var diffHtml = '';
                if(difficulty == 1){
                	diffHtml = "一颗星";
                }else if(difficulty == 2){
                	diffHtml = "两颗星";	
                 }else if(difficulty == 3){
                	diffHtml = "三颗星";	
                 }
                return diffHtml;
            }
        },{
            field: 'status',
            title: '状态',
            align : "center",
            formatter : function(value) {
               if(value){
                   return '已考过题目'
               }else{
                   return '为考过题目'
               }
            }
        },{
            field : 'operation',
            title : '操作',
            align : "center",
            class:'min-width-100',
            formatter : function(value,
                                 row, index) {
                var edit = editFlag=="true" ? '<a class="table-btn table-btn-info" onclick="editArticle('+row.id+')">编辑</a>' : '';
                var del = deleteFlag=="true" ? '<a  class="table-btn table-btn-danger" onclick="deleteArticle('+row.id+')">删除</a>' : '';
                return edit + del;
            }
        }];
    var options={
        id:"#table",
        url: '/question/list',
        columns:columns,
        toolbar: '#toolbar',
        showRefresh: true,
        queryParams : queryParams
    }
    Core.initTable(options);

    /*查询参数*/
    function queryParams(params) {
        var temp = { //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
            limit : params.limit, //页面大小
            offset : params.offset, //页码
            subjectId : $("#subjectId").val(),
            status : $("#status").val(),
        };
        return temp;
    }

    /*编辑*/
    function editArticle(id) {
        window.location.href="#article/edit?id="+id
    }
    /*删除*/
    function deleteArticle(id) {
        Core.confirm("确定删除该分类？",function () {
            Core.postAjax("/article/delete",{"id":id},function (data) {
                if(data.status==200){
                    Core.refreshTable("#table");
                }
                layer.msg(data.msg);
            })
        })
    }
    $(function () {
        /*查询*/
        $("#btn_query").click(function(){
            Core.refreshTable("#table");
        });
        /*新增*/
        $("#btn_add").click(function(){
            window.location.href="#question/add"
        });
        /*批量删除*/
        $("#btn_batch_delete").click(function(){
            var checkedRows= Core.selectMutiData("#table");
            if(checkedRows){
                Core.confirm("确定删除选中的"+checkedRows.length+"条记录？",function () {
                    var ids=[];
                    $.each(checkedRows, function (i, item) {
                        ids.push(item.id);
                    })
                    Core.postAjax("/article/batch/delete", {"ids": ids}, function (data) {
                        if (data.status == 200) {
                            Core.refreshTable("#table");
                        }
                        layer.msg(data.msg);
                    })
                })
            }
        });
    });

</script>