<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" th:content="${@module.get('sysConfig').SITE_KWD}">
		<meta name="description" th:content="${@module.get('sysConfig').SITE_DESC}">
		<title th:text="${@module.get('sysConfig').SITE_NAME}"></title>
		<link rel="stylesheet" th:href="@{/libs/bootstrap/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/libs/font-icon/icon.css}"/>
		<link rel="stylesheet" th:href="@{/libs/markdown/simplemde.min.css}">
		<link rel="stylesheet" th:href="@{/libs/markdown/github-markdown.min.css}">
		<link rel="stylesheet" th:href="@{/libs/markdown/highlight.min.css}">
		<link rel="stylesheet" th:href="@{/libs/theme/zblog/css/web-common.css}" />
		<link rel="stylesheet" th:href="@{/libs/theme/zblog/css/web-blog.css}" />
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/libs/bootstrap/bootstrap.min.js}"></script>
		<script th:src="@{/libs/markdown/highlight.min.js}"></script>
		<script th:src="@{/libs/markdown/simplemde.min.js}"></script>
		<script th:src="@{/libs/layer/layer.js}"></script>
		<script th:src="@{/js/hc-sticky.js}"></script>
		<script th:src="@{/js/core.js}"></script>
		<script th:src="@{/libs/theme/zblog/js/zb-blog.js}"></script>
	</head>
	<body>
		<header id="header">
			<div th:replace="home/fragments/navbar :: navbar"></div>
		</header>
		<div class="zb-container zb-content">
			<div class="zb-main comment">
				<div class="comment-describe">
					<h3 class="comment-describe-title">留言板</h3>
					<div>
						<p>此路是我开，此树是我栽，</p>
						<p>要想从此过......还不快来一脚？</p>
					</div>
					<hr class="hr0">
					<div>
						<p>可在此处留言友链，只支持一级域名谢谢。</p>
						<p>内容相近优先，友链格式示例如下：</p>
						<p>博客名：智博客</p>
						<p>链接：www.nbclass.com</p>
						<p>邮箱：123456@qq.com</p>
					</div>
				</div>
				<div id="comment" class="comment-main">
					<div class="comment-title">发表评论</div>
					<form id="comment-form" class="form-horizontal mt-10">
						<input name="sid" type="hidden" value="-1">
						<div id="user-name-content" class="user-name-content">欢迎您：<b id="user-name"></b></div>
						<div class="form-group" id="user-info" style="display: none">
							<div class="col-sm-4">
								<input id="nickname" type="text" class="form-control"  name="nickname" placeholder="昵称（必填）">
							</div>
							<div class="col-sm-4">
								<input id="qq" type="text" class="form-control"  name="qq" placeholder="QQ（可获取头像和昵称）">
							</div>
							<div class="col-sm-4">
								<input id="email" type="text" class="form-control"  name="email" placeholder="邮箱">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<textarea name="content" id="comment-textarea"></textarea>
							</div>
						</div>
						<div><button id="submitCommentBtn" type="button" class="btn btn-pri">发表评论</button></div>
					</form>
					<hr class="hr0 mt-15"/>
					<div class="col-xs-12">
						<div class="row">
							<ul id="comment-ul" class="comment">
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="home/fragments/sidebar :: sidebar"></div>
		</div>
		<div th:replace="home/fragments/footer :: copyrightDark"></div>
		<div class="return_top"><a class=" fa fa-arrow-up"></a></div>
		<script>
			var sid=-1;
		</script>
		<script  th:src="@{/js/comment.js}"></script>
	</body>

</html>