<meta charset="utf-8">
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <!--<li><a href="#">line1</a></li>-->
        <li class="active">工作台</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">C语言在线考系统</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div style="padding: 10px 0 20px 10px;">
                <h3>&nbsp;&nbsp;&nbsp;欢迎来到C语言在线考试系统</h3>
                <button type="button" class="btn btn-info">（一般信息）Info</button>
            </div>
        </div>
    </div>
</section>
