<meta charset="utf-8">
<div th:fragment="footer" class="footer-grey footer-section">
</div>
<div th:fragment="copyrightDark"  class="copyright-dark copyright-section">
    <p>Copyright © [[${#dates.format(new java.util.Date().getTime(), 'yyyy')}]]. [[${@module.get('sysConfig').SITE_NAME}]] · Powered by <a href="https://github.com/HungKuei" target="_blank" title="在线考试系统">HungKuei</a> </p>
</div>
<div th:fragment="copyrightLight"  class="copyright-light copyright-section">
    <p>Copyright © [[${#dates.format(new java.util.Date().getTime(), 'yyyy')}]]. [[${@module.get('sysConfig').SITE_NAME}]] · Powered by <a href="https://github.com/HungKuei" target="_blank" title="在线考试系统">HungKuei</a> </p>
</div>
<div th:fragment="copyrightCommon"  class="copyright-common copyright-section">
    <script>
        /*加载底部前执行。ps：防止闪现
         控制当页面内容过少时，底部仍在屏幕最下方
         主体内容最小高度
         */
        var topHeight=56;//头部高度
        var footerHeight=57;//底部高度
        var contentMinHeight = $(window).height()-topHeight-footerHeight;
        $(".main-content").css("min-height",contentMinHeight)
        $(window).resize(function(){
            var contentMinHeight = $(window).height()-topHeight-footerHeight;
            $(".main-content").css("min-height",contentMinHeight)
        })
    </script>
    <p>Copyright © [[${#dates.format(new java.util.Date().getTime(), 'yyyy')}]]. [[${@module.get('sysConfig').SITE_NAME}]] · Powered by <a href="https://github.com/HungKuei" target="_blank" title="在线考试系统">HungKuei</a> </p>
</div>