<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.exam.mapper.BizArticleTagsMapper">
	<resultMap id="rm" type="com.exam.model.BizArticleTags">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="tagId" jdbcType="INTEGER" column="tag_id"/>
		<result property="articleId" jdbcType="INTEGER" column="article_id"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
		<result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
	</resultMap>
	<sql id="Base_Column_List">
		id,
		tag_id,
		article_id,
		create_time,
		update_time
	</sql>
</mapper>

