<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.exam.mapper.BizCommentMapper">
	<resultMap id="rm" type="com.exam.model.BizComment">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="sid" jdbcType="INTEGER" column="sid"/>
		<result property="userId" jdbcType="VARCHAR" column="user_id"/>
		<result property="pid" jdbcType="INTEGER" column="pid"/>
		<result property="qq" jdbcType="VARCHAR" column="qq"/>
		<result property="nickname" jdbcType="VARCHAR" column="nickname"/>
		<result property="avatar" jdbcType="VARCHAR" column="avatar"/>
		<result property="email" jdbcType="VARCHAR" column="email"/>
		<result property="url" jdbcType="VARCHAR" column="url"/>
		<result property="status" jdbcType="INTEGER" column="status"/>
		<result property="ip" jdbcType="VARCHAR" column="ip"/>
		<result property="lng" jdbcType="VARCHAR" column="lng"/>
		<result property="lat" jdbcType="VARCHAR" column="lat"/>
		<result property="address" jdbcType="VARCHAR" column="address"/>
		<result property="os" jdbcType="VARCHAR" column="os"/>
		<result property="osShortName" jdbcType="VARCHAR" column="os_short_name"/>
		<result property="browser" jdbcType="VARCHAR" column="browser"/>
		<result property="browserShortName" jdbcType="VARCHAR" column="browser_short_name"/>
		<result property="content" jdbcType="VARCHAR" column="content"/>
		<result property="remark" jdbcType="VARCHAR" column="remark"/>
		<result property="support" jdbcType="INTEGER" column="support"/>
		<result property="oppose" jdbcType="INTEGER" column="oppose"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
		<result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
		<result property="loveCount" jdbcType="INTEGER" column="love_count"/>
		<association property="parent" javaType="com.exam.model.BizComment">
			<result property="id" jdbcType="INTEGER" column="parent_id"/>
			<result property="nickname" jdbcType="VARCHAR" column="parent_nickname"/>
			<result property="content" jdbcType="VARCHAR" column="parent_content"/>
		</association>
		<association property="article" javaType="com.exam.model.BizArticle">
			<result property="id" jdbcType="INTEGER" column="article_id"/>
			<result property="title" jdbcType="VARCHAR" column="article_title"/>
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id,
		sid,
		user_id,
		pid,
		qq,
		nickname,
		avatar,
		email,
		url,
		status,
		ip,
		lng,
		lat,
		address,
		os,
		os_short_name,
		browser,
		browser_short_name,
		content,
		remark,
		support,
		oppose,
		create_time,
		update_time
	</sql>
	<select id="selectComments" parameterType="com.exam.vo.CommentConditionVo" resultMap="rm">
		SELECT
		t.*,
		f.id AS parent_id,
		f.nickname AS parent_nickname,
		f.content AS parent_content,
		a.id AS article_id,
		a.title AS article_title,
		IFNULL(love.love_count,0) AS love_count
		FROM
		biz_comment t
		LEFT JOIN biz_comment f ON t.pid = f.id
		LEFT JOIN biz_article a ON a.id = t.sid
		LEFT JOIN (
		SELECT
		l.biz_id,
		count(1) AS love_count
		FROM
		biz_love l
		WHERE l.biz_type=2 AND l.status=1
		GROUP BY
		l.biz_id
		) love ON t.id = love.biz_id
		WHERE
		1 = 1
		<if test="userId != null">
			AND t.user_id = #{userId}
		</if>
		<if test="sid != null">
			AND t.sid = #{sid}
		</if>
		<if test="pid != null">
			AND t.pid = #{pid}
		</if>
		<if test="qq != null">
			AND t.qq = #{qq}
		</if>
		<if test="status != null">
			AND t.status = #{status}
		</if>
		ORDER BY
		t.create_time DESC
	</select>

	<delete id="deleteBatch" parameterType="map">
		DELETE FROM
		biz_comment
		where
		id in
		<foreach collection="array" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
		or pid in
		<foreach collection="array" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>

