<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.exam.mapper.BizTagsMapper">
	<resultMap id="rm" type="com.exam.model.BizTags">
		<result property="id" jdbcType="INTEGER" column="id"/>
		<result property="name" jdbcType="VARCHAR" column="name"/>
		<result property="description" jdbcType="VARCHAR" column="description"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
		<result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
	</resultMap>
	<sql id="Base_Column_List">
		id,
		`name`,
		description,
		create_time,
		update_time
	</sql>
	<select id="selectTags" parameterType="com.exam.model.BizTags" resultMap="rm" >
		select <include refid="Base_Column_List"/>
		FROM biz_tags
		WHERE 1=1
		<if test="name !=null and name != ''">
			AND `name` like concat('%', #{name}, '%')
		</if>
		<if test="description !=null and description != ''">
			AND description like concat('%', #{description}, '%')
		</if>
	</select>


	<delete id="deleteBatch" parameterType="map">
		DELETE FROM
		biz_tags
		where
		id in
		<foreach collection="array" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>

