<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exam.mapper.SubjectMapper">
	<resultMap id="BaseResultMap" type="com.exam.model.Subject" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List">
    	id,user_id,name,description,img_url,sort,author,create_time,update_time,status
    </sql>
    
    <select id="getSubjectById" resultMap="BaseResultMap" parameterType="int" >
        SELECT
        *
        FROM subject
        WHERE id = #{id}
    </select>
    
    <select id="getCount" resultType="int">
        SELECT
        COUNT(1)
        FROM subject
    </select>

    <select id="getSubjects" parameterType="com.exam.model.Subject" resultMap="BaseResultMap" >
        SELECT
        s.*
        FROM subject s
        WHERE 1=1
        <if test="name !=null and name != ''">
			AND s.`name` like concat('%', #{name}, '%')
		</if>
		<if test="description !=null and description != ''">
			AND s.description like concat('%', #{description}, '%')
		</if>
		<if test="status !=null">
			AND s.`status` = #{status}
		</if>
		ORDER BY s.sort ASC
    </select>
    
    <delete id="deleteSubjectById" parameterType="int">
        DELETE FROM subject
        where id = #{id}
    </delete>
</mapper>